<h1>Hello friends</h1>
<p>This sight might be an app that can be used to manage your friends relationships and to allow your friends to tell meaningful things about you. This might help you to understand yourself and your relations to others in a much better way</p>